body, html {
    font-family: "Jetbrains Mono", sans-serif;
    height: 100%;
    margin:0px;
  }

@media only screen and (min-width: 701px) {
    #mobile{
      display: none;
  }
}

@media only screen and (max-width: 700px) {
  #main {
    *{
      display: none;
    }
    #mobile{
      display: inline;
    }
  }
}

#main{
  margin-top: 100px
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding: 10px;
  height: 20px;
  font-size: 14pt;
  border-style: dashed;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a{
    color: white;
    text-decoration: none;

  }
  a:hover{
    color:grey;
  }
}

.privacy{
  height: 40px;
  color:white;
  background-color: black;
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;

  a {
    text-decoration: none;
  }
}